/*=============================================
=            Base-style            =
=============================================*/

html {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #808080;
  --global-bcg-color: #000000;
  --defolt-white-color: #ffffff;
  --akcent-color: #0b1b5f;
  --hover-card-color :#444444;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--global-bcg-color);
  color: var(--primary-text-color);
  font-family: Montserrat, 'sans-serif';
}

.border {
  border: 5px solid rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 15px; 
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
  background-color: rgba(50, 50, 50, 0.8); 
}

/*=====  End of Base-style  ======*/






/*=============================================
=            Header style            =
=============================================*/


.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #222222;
  position: sticky;
  top:0;
  z-index: 50;

}

.svg {
  width: 30px;
  height: 30px;
}

.logo {
  display:flex;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 40px;
  align-items: center;
  gap:15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navigation {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 50px;
}
.header-item {
  color: var(--defolt-white-color);
  font-weight: 700;
  font-style: normal;
}

.header-link:hover {
  color: #0066cc;
}
.header-link {
  font-weight: 700;
  color: var(--defolt-white-color);
}


/*=====  End of Header style  ======*/








/*=============================================
=            Main saction in index.html style            =
=============================================*/


.main-section {
  padding: 20px;
  text-align: center;
}

.description {
  margin: 20px 0;
}
.advantages {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}
.advantage-item {
  width: 30%;
  padding: 20px;
}
.advantage-item:hover {
  background-color: var(--hover-card-color);
}
.advantage-item h3 {
  color: var(--defolt-white-color);
}
.popular-destinations {
  margin-top: 40px;
}
.destination {
  margin: 10px;
  text-align: center;
}

.destination-text {
  font-size: 30px;
}
.img-destination {
  border-radius: 20px;
  border: 5px solid var(--defolt-white-color);
}



/**
 *
 * Table style
 *
 */


.table-container {
    width: 100%;
    max-width: 800px; 
    margin: 50px auto;
    padding: 20px;
    background-color: #1c1c1c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}


.table-title {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}


.tourism-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: #dddddd;
}


.table-header {
    padding: 12px 15px;
    text-align: center;
    background-color: #333333;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}


.table-row:hover {
    background-color: #2a2a2a;
}


.table-data {
    padding: 12px 15px;
    border-bottom: 1px solid #555555;
    color: #cccccc;
}


@media (max-width: 850px) {
    .table-container {
        max-width: 650px; 
    }
}

@media (max-width: 700px) {
    .table-container {
        max-width: 300px;
    }

    .table-header, .table-data {
        display: block;
        text-align: right;
    }

    .table-header {
        text-align: center;
        background-color: #333333;
    }

    .table-data:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        color: #ffffff;
    }

    .table-row {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid var(--hover-card-color);
    }
}


/*=====  End of Main saction in index.html style  ======*/







/*=============================================
=            About us section style            =
=============================================*/






.about_us_title {
  color: var(--defolt-white-color);
  font-size: 48px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
}




.about-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 100px;

}
.about-item {
  width: 400px;
  height: 300px;
  padding: 25px 15px;
  margin: 0;
  
}
.about-item:hover {
  background-color: var(--hover-card-color);
}
.about-item h2 {
  display: flex;
  justify-content: center;
  color: var(--defolt-white-color);
}

.about-item p {
  font-weight: 700;

}
.team-section {
  margin: 20px auto;
  padding: 20px;
  background-color: #1c1c1c;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 800px;
  color: var(--primary-text-color);
}



.team-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.team-section h2 {
  color: var(--defolt-white-color);
  font-size: 36px;
  margin-bottom: 15px;
  text-align: center;
}

.team-member {
  display: flex;
  align-items: center;
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 8px;
  gap: 20px;
}

.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid var(--defolt-white-color);
}

.team-member h3 {
  font-size: 24px;
  color: var(--defolt-white-color);
  margin-bottom: 5px;
}

.team-member p {
  font-size: 16px;
  color: var(--primary-text-color);
}

@media (max-width: 768px) {
  .team-member {
    flex-direction: column;
    text-align: center;
  }
  
  .team-member img {
    width: 80px;
    height: 80px;
  }
  
  .mission-section h2,
  .goals-section h2,
  .history-section h2,
  .team-section h2 {
    font-size: 28px;
  }
}
.advantages-section {
margin-bottom: 30px;
}
.advantages-title{
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--defolt-white-color);
}

.advantages-intro {
  width: 400px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 10px;
  font-size: 20px;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
}
.advantages-list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:30px;
  flex-wrap: wrap;

}

.advantages-item:hover {
  background-color: var(--hover-card-color);
}
/*=====  End of About us section style  ======*/








/*=============================================
=            Tips section style            =
=============================================*/



.tips-section {
    padding: 20px;
    margin: 20px auto;
    background-color: #1c1c1c; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 800px;
}

.tips-title {
    color: var(--defolt-white-color);
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}

.tips-list {
    padding-left: 0; 
    margin: 0; 
}

.tip-item {
    margin-bottom: 20px; 
    padding: 15px;
    background-color: #333; 
    border-radius: 5px; 
}

.tip-title {
    font-size: 20px; 
    color: var(--defolt-white-color);
    margin-bottom: 10px; 
}

.tip-text {
    font-size: 16px; 
    color: var(--primary-text-color);
}


.tip-item:hover {
  background-color: var(--hover-card-color); 
}


@media (max-width: 768px) {
    .tips-title {
        font-size: 28px; 
    }
    
    .tip-title {
        font-size: 18px;
    }

    .tip-text {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .tips-title {
        font-size: 24px; 
    }
    
    .tip-title {
        font-size: 16px; 
    }

    .tip-text {
        font-size: 12px; 
    }
}

/*=====  End of Tips section style  ======*/








/*=============================================
=            Footer style            =
=============================================*/

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

/*=====  End of Footer style  ======*/




/*=============================================
=            Burger menu            =
=============================================*/

.header_burger {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.header_burger span,
.header_burger span::before,
.header_burger span::after {
  display: block;
  background-color: var(--defolt-white-color);
  height: 4px;
  width: 100%;
  position: absolute;
  transition: all 0.3s ease;
}

.header_burger span::before {
  content: "";
  top: -8px;
}

.header_burger span::after {
  content: "";
  top: 8px;
}

.header_burger.active span {
  background-color: transparent;
}

.header_burger.active span::before {
  top: 0;
  transform: rotate(45deg);
}

.header_burger.active span::after {
  top: 0;
  transform: rotate(-45deg);
}

@media (max-width: 770px) {
  .header_burger {
    display: block;
    margin-left: auto;
  }

  .header-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #222;
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }

  .header-list.active {
    display: flex;
  }
}



/*=====  End of Burger menu  ======*/




